<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
	 <partial name="_HeaderRefrences" />
	
    <title>@ViewData["Title"] - Filmify.UI</title>
   
</head>
<body class="body">
   	<!-- header -->
	<header class="header">
	<partial name="_Header" />
	</header>
     <section class="home">
           @* <div class="container">               *@
                @RenderBody()
            @* </div> *@
      </section>
	<!--Footer-->


     <partial name="_Footer"  />
      <partial name="_FooterRefrences" />
    @await RenderSectionAsync("Scripts", required: false)
  <script src="~/js/filmSearch.js"></script>
  
@section Scripts {
    <script type="module">
        import { FilmSearch } from '/js/filmSearch.js';

        new FilmSearch(
            'filmSearchInput',
            'filmResultsContainer',
            'loadMoreBtn',
             'https://localhost:7053',
            10
        );
    </script>
}

</body>
</html>
