<div class="catalog">
    <div class="container">
        <div class="row" id="filmResultsContainer">
            @foreach (var film in Model.Items)
            {
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2 mb-4">
                    <div class="card">
                        <div class="card__cover">
                            <img src="~/img/covers/@film.CoverImage" alt="@film.FilmTitle" />
                            <a href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">@film.FilmTitle</h3>
                        </div>
                    </div>
                </div>
            }

            <!-- Pagination -->
            <div class="col-12">
                @await Html.PartialAsync("_Pagination", new Filmify.UI.Models.PaginationViewModel
                {
                    CurrentPage = Model.PageNumber,
                    TotalPages = Model.TotalPages,
                    Search = Context.Request.Query["searchText"],
                    ActionName = "GetAll",
                    ControllerName = "Films"
                })
            </div>
        </div>
    </div>
</div>
