@model Filmify.UI.Models.KeysetPagingResultViewModel<Filmify.Application.DTOs.Film.FilmDto>

<form class="header__search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__search-content">
                    <input id="filmSearchInput" type="text" placeholder="Search for a movie, TV Series that you are looking for">
                </div>
            </div>
        </div>
    </div>
</form>

<div id="filmResults" class="film-search"></div>
<button id="loadMoreBtn" style="display:none;">Load More</button>

<script type="module">
    import { FilmSearch } from '/js/filmSearch.js';

    const filmSearch = new FilmSearch(
        'filmSearchInput',
        'filmResults',
        'loadMoreBtn',
        'https://localhost:7053', // Base API URL
        10 // pageSize
    );

    // Initial load
    filmSearch.fetchFilms();
</script>
