@model RegisterViewModel

<div class="sign section--bg" data-bg="~/img/section/section.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="sign__content">
                    <form asp-action="Register" method="post" class="sign__form">
                        <a href="~/Home/Index" class="sign__logo text-center d-block mb-4">
                            <img src="~/img/logo.svg" alt="Logo">
                        </a>
                        <div class="sign__group">
                            <input asp-for="FullName" class="sign__input" placeholder="Full Name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="sign__group">
                            <input asp-for="Email" class="sign__input" placeholder="Email" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="sign__group">
                            <input asp-for="Password" class="sign__input" placeholder="Password" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input asp-for="Agree" id="agree" type="checkbox" />
                            <label for="agree">I agree to the <a href="#">Privacy Policy</a></label>
                        </div>

                        <button class="sign__btn w-100" type="submit">Sign up</button>

                        @if(ViewBag.Error != null)
                        {
                            <div class="text-danger mt-2">@ViewBag.Error</div>
                        }
                        
                        <div class="mt-3 text-center">
                            <span class="sign__text d-block">Already have an account? <a href="Login">Sign in!</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
